.admin_header {
    flex-wrap: wrap;
    background-color: var(--accent);
    border-radius: 1rem;
    box-shadow: var(--shdw1);
    overflow: hidden;
}

.link {
    padding: 1rem 2rem;
    border-radius: 0;

    &:hover {
        background-color: var(--foreground);
    }
}

@media only screen and (max-width: 900px) {
    .admin_header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}