.header {
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--foreground);

    * > a {
        border: none;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        flex-direction: column !important;

        nav {
            flex-direction: row;
            gap: 1rem;
        }
    }
}