.forum_info {
    max-width: 275px;
    width: 275px;
}

.info {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--foreground);
    box-shadow: var(--shdw1);
}

@media only screen and (max-width: 900px) {
    .forum_info {
        width: 100%;
        max-width: 100%;
        flex: 1;
    }
}