.support_header {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shdw1);
    background-color: var(--foreground);

    nav {
        flex-wrap: wrap;

        * {
            padding: 1rem 2rem;
            border-radius: 1rem;
            background-color: transparent;
            border-bottom: 1px solid transparent;
            border: 1px solid transparent;
            transition: 0.35s ease all;

            &:hover {
                border: 1px solid rgb(255, 255, 255, 0.5);
                background-color: var(--accent);
                box-shadow: var(--shdw1);
            }
        }
    }
}