.thread_preview {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--foreground);
	border-radius: 1rem;
	box-shadow: var(--shdw1);

	.user {
		border-bottom: none;
		&:hover {
			border-bottom: none;
		}
	}

	.section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.header {
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--foreground);
	box-shadow: var(--shdw1);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.user_tab {
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}
}

.posts {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.times {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;

	.time {
		opacity: 0.5;
	}
}

.options {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: flex-start;

	.option {
		padding: 0;
		background-color: var(--foreground);

		&:hover {
			background-color: var(--foreground);
		}
	}
}
