.thread_preview {
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--accent);
	border-radius: 1rem;
	box-shadow: var(--shdw1);

	.user {
		border-bottom: none;
		&:hover {
			border-bottom: none;
		}
	}
}

.header {
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--foreground);
	box-shadow: var(--shdw1);
	justify-content: space-between;

	.user_tab {
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}
}

.times {
	.time {
		opacity: 0.5;
	}
}

.options {
	align-items: flex-start;
	.option {
		padding: 0;
		background-color: var(--foreground);

		&:hover {
			background-color: var(--foreground);
		}
	}
}
