.material_icon {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    .material_icon {
        object-fit: cover;
    }
}