.container {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--foreground);
    box-shadow: var(--shdw1);

    button {
        width: fit-content;
    }
}

.server {
    padding: 1rem;
    background-color: var(--accent);
    box-shadow: var(--shdw1);
    border-radius: 1rem;

    button {
        width: 100%;
    }
}

.nav {
    background-color: var(--accent);
    button {
        border-radius: 0;
        &:hover {
            background-color: var(--foreground);
        }
    }
}

.how_to {
    width: 800px;
    max-width: 800px;
    padding: 1rem;

    .step {
        img {
            width: 30rem;
            height: auto;
        }
    }
}

@media only screen and (max-width: 900px) {
    .servers {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}