.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--foreground);
    box-shadow: var(--shdw1);
}

.servers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.server {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--text);
    border-radius: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}