.forum_post {
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--foreground);
	box-shadow: var(--shdw1);
	min-height: 500px;

	.content {
		padding: 1rem;
		justify-content: space-between;
	}

	.option {
		padding: 0;
		background-color: var(--foreground);

		&:hover {
			background-color: var(--foreground);
		}
	}
}

.times {
	.time {
		opacity: 0.5;
	}
}

.post_preview {
	padding: 1rem;
	background-color: var(--accent);
	border-radius: 1rem;
	box-shadow: var(--shdw1);
}

.post_preview, .compact_preview {
	.user {
		border-bottom: none;
		&:hover {
			border-bottom: none;
		}
	}
}

.compact_preview {
	padding: 1rem;
	background-color: var(--accent);
	border-radius: 1rem;
	box-shadow: var(--shdw1);
}

@media only screen and (max-width: 900px) {
	.forum_post {
		flex-direction: column;
	}

	.times {
		flex-direction: column;
		align-items: flex-start;
	}
}