.user_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--foreground);
    box-shadow: var(--shdw2);
    backdrop-filter: blur(10px);
}

@media only screen and (max-width: 900px) {
    .user_container {
        flex-direction: column;
    }
}