.container {
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--foreground);
    box-shadow: var(--shdw1);

    nav {
        background-color: var(--accent);

        button {
            text-align: left;
            &:hover {
                background-color: var(--foreground);
            }
        }
    }
}

.content {
    padding: 1rem;
    flex: 1;

    button {
        width: fit-content;
    }
}

.sections, .topics {
    flex-wrap: wrap;
    
    button {
        width: 100%;
    }
}

.edit {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--accent);
    box-shadow: var(--shdw1);
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column !important;

        nav {
            border-right: none;

            display: grid;
            grid-template-columns: 1fr;

            button {
                text-align: center;
            }
        }
    }

    .content {
        padding: 0.5rem;
    }

    .sections, .topics {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}