# POSTGRES
DATABASE_URL=postgres://postgres:1234@127.0.0.1/k9r

# K9R
K9R_BACKEND_HOST=http://127.0.0.1:8080 # YOUR BACKEND HOST (e.g. api.k9r.net)
K9R_FRONTEND_HOST=http://127.0.0.1:3000 # YOUR FRONTEND HOST (e.g. www.k9r.net)

# OAUTH2
K9R_GITHUB_OAUTH_ID=
K9R_GITHUB_OAUTH_SECRET=

K9R_DISCORD_OAUTH_ID=
K9R_DISCORD_OAUTH_SECRET=