.support_section {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--foreground);
    box-shadow: var(--shdw1);
}

.ticket_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.ticket_link {
    border-bottom: none;
    &:hover {
        border-bottom: none;
    }
}