.search_container {
    border: 1px solid var(--text);
    border-radius: 1rem;
    background-color: var(--foreground);
    position: relative;
    overflow: hidden;
}

.search_bar {
    flex: 1;
    border: none;
    &:hover, &:active, &:focus {
        border: none;
    }
}

.search_button {
    padding: 0 1rem;
    border-radius: 0;
}