.activity_container {
    .nav {
        background-color: var(--accent);
    
        button {
            border-radius: 0;
            &:hover {
                background-color: var(--foreground);
            }
        }
    }

    .activity {
        padding: 1rem;
    }
}

.list {
    .preview {
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
}