.forum_information {
    background-position: 50% 50% !important;
    background-size: cover !important;
    border-radius: 1rem;
    box-shadow: var(--shdw2);

    .content {
        border-radius: 1rem;
        padding: 1rem;
        backdrop-filter: blur(5px);
        background-color: rgb(0, 0, 0, 0.5);
    }
}

@media only screen and (max-width: 900px) {
    .forum_nav {
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        flex-wrap: nowrap;
    }

    .forum_information {
        .content {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}