.popup {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 9999;

    .content {
        overflow-y: auto;
        max-height: 90vh;
        padding: 1rem;
        background-color: var(--foreground);
        box-shadow: var(--shdw1);
        border-radius: 1rem;
    }
}