.forum_section {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shdw1);
    background-color: var(--foreground);
}

.header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text);
}

.topic_link {
    border-bottom: none;
    &:hover {
        border-bottom: none;
    }
}

@media only screen and (max-width: 900px) {
    .forum_sections {
        width: 100%;
    }

    .header {
        .title {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}