.container {
    border-radius: 1rem;
    background-color: var(--foreground);
    box-shadow: var(--shdw1);
    overflow: hidden;

    nav {
        background-color: var(--accent);

        button {
            border-radius: 0;
            width: 100%;
            text-align: left;
            &:hover {
                background-color: var(--foreground);
            }
        }
    }

    button {
        width: fit-content;
    }
}