.user_info {
    padding: 2rem;
    max-width: 275px;
    width: 275px;
    background-color: var(--accent);
}

.description {
    margin-top: 1rem;
}

.username {
    opacity: 0.5;
}

.as_link {
    border-bottom: none;
    text-align: center;

    &:hover {
        border-bottom: none;
    }
}

@media only screen and (max-width: 900px) {
    .user_info {
        border-right: none;
        margin: auto auto;
    }
}