@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
	--text: #ffffff;
	--background: #101013;
	--foreground: #141417;
	--accent: #1a191d;

	--shdw1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	--shdw2: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	--shdw3: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 16px;
}

body {
	background: var(--background);
	color: var(--text);
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

h1 {
	font-weight: 900;
	font-size: 2.5rem;
}

h2 {
	font-weight: 800;
	font-size: 2rem;
}

h3 {
	font-weight: 700;
	font-size: 1.5rem;
}

h4 {
	font-weight: 600;
	font-size: 1.25rem;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid transparent;
	transition: 0.35s ease border-bottom;

	&:hover {
		border-bottom: 1px solid var(--text);
	}
}

button {
	background-color: var(--background);
	box-shadow: var(--shdw1);
	border: 1px solid rgb(255, 255, 255, 0);
	color: var(--text);
	padding: 1rem 2rem;
	border-radius: 1rem;
	transition: 0.35s ease all;

	&.no-border {
		border: none;
		background-color: transparent;
		box-shadow: none;
		&:hover {
			background-color: transparent;
			box-shadow: none;
			border: none;
		}
	}

	&:hover {
		cursor: pointer;
		background-color: var(--accent);
		box-shadow: var(--shdw2);
		border: 1px solid rgb(255, 255, 255, 0.25);
	}
}

input,
select,
textarea {
	background-color: var(--background);
	border: 1px solid rgb(255, 255, 255, 0);
	padding: 0.5rem 1rem;
	color: var(--text);
	box-shadow: var(--shdw1);
	transition: 0.35s ease all;
	border-radius: 1rem;
	color: var(--text);

	&:hover {
		border: 1px solid rgb(255, 255, 255, 0.25);
		background-color: var(--foreground);
	}

	&:focus,
	&:active {
		outline: none;
		background-color: var(--accent);
		border: 1px solid rgb(255, 255, 255, 0.5);
		box-shadow: var(--shdw2);
	}
}

textarea {
	resize: none;
}

.w-md-editor-text-input {
	border: none;
	box-shadow: none;
	background-color: initial !important;

	&:hover,
	&:focus,
	&:active {
		border: none;
		box-shadow: none;
		background-color: initial !important;
	}
}

.container {
	padding: 5rem 10rem;
	display: flex;
	flex-direction: column;
	background-color: var(--background) !important;
	height: fit-content;
}

.flex {
	display: flex;

	&.row {
		flex-direction: row;
	}

	&.col {
		flex-direction: column;
	}

	&.align {
		align-items: center;
	}

	&.justify {
		justify-content: center;
	}

	&.gap-half {
		gap: 0.5rem;
	}

	&.gap-1 {
		gap: 1rem;
	}

	&.gap-2 {
		gap: 2rem;
	}

	&.gap-3 {
		gap: 3rem;
	}

	&.flex-1 {
		flex: 1;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

p {
	word-break: break-all;
}

@media only screen and (max-width: 900px) {
	.container {
		padding: 1rem;
	}
}
